<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container  body-content">
<h1>Add City</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="name">City Name</label>
        <input class="form-control" th:field="${city.name}" />
        <span th:errors="${city.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="pride">City Pride</label>
        <input class="form-control" th:field="${city.pride}" />
        <span th:errors="${city.pride}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="bars">City Bars</label>
        <input class="form-control" th:field="${city.bars}" />
        <span th:errors="${city.bars}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="destinations">City Destinations</label>
        <input class="form-control" th:field="${city.destinations}" />
        <span th:errors="${city.destinations}" class="error"></span>
    </div>

    <input type="submit" value="Add City" />
</form>

</body>
</html>