<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">States</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>States</th>
    </tr>

    <tr>
        <td>
            <li th:each="state : ${states}">
                <a th:href="@{/states(column=state,value=${state.name})}" th:text="${state.name}"></a>
            </li>
        </td>
    </tr>
</table>


</body>
</html>

<!--<li class="nav-item active"><a class="nav-link" href="/notes/create">Create Note</a></li>-->
