<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container  body-content">
<h1 th:text="${'State: ' + state.name}">State</h1>

<nav th:replace="fragments :: page-header"></nav>

<div class="state-listing">
    <p th:text="${'ID: ' + state.id}"></p>
    <p th:text="${'Name: ' + state.name}"></p>
    <p th:text="${'Location: ' + state.location}"></p>
    <p>
        Cities:
    <ul>
        <li th:each="city : ${state.cities}">
            <a th:href="@{'/cities/view/' + ${city.id}}" th:text="${city.name}"></a>
        </li>
    </ul>
    </p>
    <p> Events:
    <ul>
        <li th:each="event : ${state.events}">
            <a th:href="@{'/events/view/' + ${event.id}}" th:text="${event.name}"></a>
        </li>
    </ul>
    </p>
</div>


</body>
</html>